<footer id="footer" class="main-content-wrap">
    <p>
        <a href="https://beian.miit.gov.cn">粤ICP备2022110674号-1</a>
    </p>
    <p class="copyrights">
        Copyrights &copy; <%= date(new Date(), 'YYYY' ) + ' ' + config.author || config.title %>. All Rights Reserved.
    </p>
</footer>